<% if @order.payment_method.instance_of? Spree::PaymentMethod::BoletoMethod %>
  <!-- TODO: Don't talk to strangers. This line should be something close to @order.pending_boleto? -->
  <% if @order.boleto_doc.pending? %>
		<p>pendente: <%= number_to_currency @order.outstanding_balance %></p>
    <%= link_to "Imprimir Boleto", order_boleto_docs_path(@order.number), :target => "_blank", :class => "btn btn-primary" %>
  <% else %>
    Este pedido foi pago via Boleto
  <% end %>
<% end %>
